<%= stylesheet_link_tag "admins/arrivals", :media => "all" %>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
      <h2>入荷履歴</h2>
      <div class="search-content">
        <%= form_tag(admins_search_arrivals_path, method: :get) do %>
          <div class="search_tag">
            <%= radio_button_tag :search_flag, 1, checked: true %>日付(yyyy-mm-dd)
            <%= radio_button_tag :search_flag, 2 %>商品名
            <%= radio_button_tag :search_flag, 3 %>入荷ID
          </div>
          <div class="search-word">
            <%= text_field_tag :search_word%>
            <%= submit_tag "検索"%>
          </div>
        <% end %>
      </div>
  <table class="table table-bordered table-hover">
    <tr style="pointer-events: none;">
      <th>
        id
        <%= button_to "入荷ID▼", admins_sort_arrivals_path, {method: :get, params: {sort_type: '1'}} %>
      </th>
      <th>
        入荷日時
        <%= button_to"入荷日▼", admins_sort_arrivals_path, {method: :get, params: {sort_type: '2'}} %>
      </th>
      <th>商品名</th>
      <th>個数</th>
      <th style="width: 15%; ">ステータス</th>
    </tr>
    <% @arrivals.each do |arrival| %>
    <tbody>
    <tr>
      <td><%= arrival.id %></td>
      <td><%= arrival.arrival_date %></td>
      <td><%= arrival.item.item_name %></td>
      <td><%= arrival.arrival_number %></td>
      <td>
        <%= link_to "編集", edit_admins_arrival_path(arrival), class: 'btn btn-success' %>
        <%= link_to "削除", admins_arrival_path(arrival), method: :delete, class: 'btn btn-danger' %>
      </td>
    </tr>
    </tbody>
    <% end %>
  </table>
  <div class="pagenate"><%= paginate @arrivals %></div>
</body>