<body>
  <table class="table table-bordered table-hover">
    <tr>
      <th>id</th>
      <th>入荷日時</th>
      <th>商品名</th>
      <th>個数</th>
      <th>ステータス</th>
    </tr>
    <% @arrivals.each do |arrival| %>
    <tbody>
    <tr>
      <td><%= arrival.id %></td>
      <td><%= arrival.arrival_date %></td>
      <td><%= arrival.item.item_name %></td>
      <td><%= arrival.arrival_number %></td>
      <td>
        <%= link_to "編集", edit_admins_arrival_path(arrival), class: 'btn btn-success' %>
        <%= link_to "削除", admins_arrival_path(arrival),class: 'btn btn-danger' %>
      </td>
    </tr>
    </tbody>
    <% end %>
  </table>
</body>