<div class="jumbotron mypage-box">
<div class="mypage_title container">
	<h2 class="c1-2exam5">こんにちは  <%= @user.name_family_kanji %>  <%= @user.name_first_kanji %>  様</h2>
</div>
<div class="info_container container">
	<!--ユーザ情報-->
	<h3>お客様情報</h3>
	<table class="table table-bordered">
		<tr>
			<td class="active">氏名</td>
			<td><%= @user.name_family_kanji %>  <%= @user.name_first_kanji %></td>
		</tr>
		<tr>
			<td class="active">氏名（フリガナ）</td>
			<td><%= @user.name_family_furigana %>  <%= @user.name_first_furigana %></td>
		</tr>
		<tr>
			<td class="active">メールアドレス</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="active">パスワード</td>
			<td><%= @user.password %></td>
		</tr>
		<tr>
			<td class="active">ご住所</td>
			<td>〒<%= @user.postal_code.insert(3, "-") %>  <%= @user.address_prefecture %>
				<%= @user.address_city %><%= @user.address_number %>
				<%= @user.address_building %>
			</td>
		</tr>
		<tr>
			<td class="active">お電話番号</td>
			<td><%= @user.phone_number %></td>
		</tr>
	</table>

	<div class="row">
		<%= link_to "お客様情報の編集", edit_user_registration_path(@user), class:"btn btn-success col-md-3 col-md-offset-9" %>
	</div>

	<div>
	<!--お届け先情報 -->
		<h3>お届け先情報</h3>
		<div class="row">
			<%= link_to "お届け先情報追加", new_address_path, class:"btn btn-primary col-md-3" %>
		</div>
	</div>
	<% @addresses.each.with_index(1) do |address,i| %>
	<%= i %>
	<table class="table table-bordered">
		<tr>
			<td class="active">氏名</td>
			<td><%= address.delivery_name_family_kanji %>  <%= address.delivery_name_first_kanji %></td>
		</tr>
		<tr>
			<td class="active">氏名（フリガナ）</td>
			<td><%= address.delivery_name_family_furigana %>  <%= address.delivery_name_first_furigana %></td>
		</tr>
		<tr>
			<td class="active">ご住所</td>
			<td><div style="float: left">〒<%= address.delivery_postal_code.insert(3, "-") %></div>
				<div style="float: left, margin-left:5px"><%= address.delivery_address_prefecture %><%= address.delivery_address_city %><%= address.delivery_address_number %><%= address.delivery_address_building %></div></td>
		</tr>

	</table>
	<div class="row">
		<%= link_to "お届け先情報#{i}の編集", edit_address_path(address), class:"btn btn-success col-md-3 col-md-offset-9" %>
	</div>
	<% end %>
		<!--- 購入履歴 -->
		<h3>購入履歴</h3>
		<% @orders.each do |order| %>
		<div style="border-bottom:solid ">
			<div>
				<%= order.created_at.strftime('%Y/%m/%d') %>
                <% if order.order_status == 0 %>
                    <p class="text-danger">受付中</p>
                <% elsif order.order_status == 1 %>
                    <p class="text-warning">発送準備中</p>
                <% else %>
                    <p class="text-success">発送済み</p>
                <% end %>

			</div>
			<!--購入履歴・商品情報-->
			<% order.order_items.each do |oi| %>
			<div>
				<%= attachment_image_tag oi.item, :item_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
				<%= oi.item.item_name %>
				<% review = Review.reviewed_by(current_user,oi.item)
								if review.present?
							%>
					<%= link_to "レビュー編集", edit_review_path(review) %>
				<% else %>
					<%= link_to "レビューする", new_item_review_path(oi.item) %>
				<% end %>
				<div>
					<%= oi.item.artist.artist_name %>
				</div>
				<div>
					購入数：<%= oi.order_number %>枚
				</div>
				<div>
					小計<%= (oi.order_price * 1.1).round(0).to_s(:delimited, delimiter: ',') %>円
				</div>
			</div>
			<% end %>
			<!--購入履歴・宛先、料金-->
			<div>送付先：<%= order.delivery_name_family_kanji %><%= order.delivery_name_first_kanji %>   様宛       <%= order.delivery_address_prefecture %><%= order.delivery_address_city %><%= order.delivery_address_number %><%= order.delivery_address_building %></div>
			<div>送料:<%= order.postage %>   円(税込)</div>
			<div>合計：<%= ((order.total_fee * 1.1) + (order.postage)).round(0).to_s(:delimited, delimiter: ',') %>円(税込)</div>
		</div>
		<% end %>
	<div class="row">
		<%= link_to "退会手続きへ", users_unsubscribe_path(@user), class:"btn btn-danger col-md-offset-10" %>
	</div>
</div>
</div>
