<h1>顧客情報一覧</h1>
<div class="search-content">
	<%= form_tag(admins_search_path, method: :post) do %>
		<%= radio_button_tag :search_flag, 1, checked: true %>顧客ID
		<%= radio_button_tag :search_flag, 2 %>顧客(漢字)
		<%= radio_button_tag :search_flag, 3 %>顧客(フリガナ)
		<%= text_field_tag :search_word %>
		<%= submit_tag "検索" %>
	<% end %>
</div>
<table class="table table-bordered">
	<tr>
    	<th>顧客ID</th>
    	<th>顧客名</th>
    	<th>フリガナ</th>
    	<th>メールアドレス</th>
	</tr>
	<% @users.each do |u| %>
	<tr>
    	<th><%= u.id %></th>
    	<th><%= u.name_family_kanji + u.name_first_kanji %></th>
    	<th><%= u.name_family_furigana + u.name_first_furigana %></th>
    	<th><%= u.email %></th>
	</tr>
  	<% end %>
</table>

