<body>
  <h1>商品購入ページ</h1>
  <h2>購入者情報</h2>
  <!-- ユーザー情報を表示 -->
  <table class = "table">
    <tr>
      <td>名前</td>
      <td><%=@full_name %></td>
    </tr>
  <!-- 住所を情報を表示 -->
    <tr>
      <td>住所</td>
      <td><%= @user_address%></td>
    </tr>
  <!-- お届け先を情報を表示 -->
    <tr>
      <td>お届け先</td>
      <td>
        <input type="radio" name="address" value="サンプル" checked >上記の住所と同じ
        <br>
        <input type="radio" name="address" value="サンプル">その他の配送先
        <br>
        <input type="radio" name="address" value="サンプル">新しい配送先
      </td>
    </tr>
  <!-- 支払い方法を選択 -->
    <tr>
      <td>お支払い情報</td>
      <td>
        <input type="radio" name="pay" value="サンプル" checked>クレジットカード
        <br>
        <input type="radio" name="pay" value="サンプル">銀行振込
        <br>
        <input type="radio" name="pay" value="サンプル">代引き
      </td>
    </tr>
  </table>
  <!-- 商品情報を表示 -->
  <h2>商品情報</h2>
    <% total_price = 0.to_i%>
    <% @carts.each do |cart| %>
      <section class="cart-item clearfix" >
        <%= attachment_image_tag cart.item, :item_image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg" %>
        <%= cart.item.item_name %>
        <%= cart.cart_item_number %> 枚
        <%= cart.item.item_price %> 円(税込)
        <% total_price += cart.item.item_price * cart.cart_item_number%>
      </section>
    <% end %>
    <div>
      <p>送料</p><%= @order.postage %>
      <p>合計金額<p><%= total_price + @order.postage %>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <%= link_to '戻る', :back , class: "btn btn-default" %>
        <%= link_to '注文内容確認ページへ', order_confirmation_path , class: "btn btn-success" %>
      </div>
    </div>
  </div>
</body>

