<body>
  <!-- 注文者情報を表示 -->
        <main clearfix>
          <h1>商品購入ページ</h1>
          <section class="section clearfix">
            <div class="title">注文者情報</div>
            <%= link_to '変更', edit_user_registration_path, class: "btn btn-default", style:"float: right;" %>
            <br>
            <%= @full_name %>
            <br>
            <%= @user_address%>
          </section>
        <!-- お届け先を情報を表示 -->
          <section class="section clearfix">
            <div class="title">送付先</div>
            <%= link_to '変更', edit_user_registration_path, class: "btn btn-default", style:"float: right;" %>
            <br>
            <% @delivery.first(1).each do |d| %>
              <%= d.delivery_name_family_kanji+ " " + d.delivery_name_first_kanji %><br>
              <%= "〒" + d.delivery_postal_code.insert(3, "-") + "　" + d.delivery_address_prefecture + d.delivery_address_city + d.delivery_address_number + d.delivery_address_building %>
            <% end %>
          </section>
          <!-- 支払い方法を選択 -->
          <section class="section clearfix">
            <div class="title">支払い方法</div><br>
              <%= form_tag(pay_path, method: :post) do %>
                <%= radio_button_tag :pay_flag, 1, checked: true %>クレジット<br>
                <%= radio_button_tag :pay_flag, 2 %>銀行振込<br>
                <%= radio_button_tag :pay_flag, 3 %>代引き<br>
                <%= submit_tag "次へ" %>
            <% end %>
          </section>
          <!-- 商品情報を表示 -->
          <h2>商品情報</h2>
          <% total_price = 0 %>
          <% @carts.each do |cart| %>
            <section class="cart-item clearfix" >
              <%= attachment_image_tag cart.item, :item_image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg" %>
              <%= cart.item.item_name %>
              <%= cart.cart_item_number %> 枚
              <%= cart.item.item_price %> 円(税込)
              <% total_price += cart.item.item_price * cart.cart_item_number%>
            </section>
          <% end %>
          <div class="pay clearfix">
            <div class="pay-container">
            <p style="text-align: right">送料</p><%= @order.postage %>円
            <p>合計金額</p><%= total_price + @order.postage %>円(税込)
            </div>
          </div>
        </main>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <%= link_to '戻る', :back , class: "btn btn-default back" %>
              <%= link_to '注文内容確認ページへ', order_confirmation_path , class: "btn btn-success ok" %>
            </div>
          </div>
        </div>
      </body>

