<p><%= flash[:notice] %></p>
<div class = "container">
    <div class = "row-1 clearfix">
        <div class = "col-md-4" style = "padding-top: 30px; padding-bottom: 10px;">
            <h2>カート情報</h2>
            <%= link_to "カートを空にする", carts_path, method: :delete, class:"btn btn-default btn-lg" %>
        </div>
    </div>
    <% total_price = total_price.to_i %>
    <% @carts.each do |cart| %>
        <div class = "row-12 clearfix cart-box">
            <th><%= attachment_image_tag cart.item, :item_image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg" %>
            </th>
            <th>
            <%= cart.item.item_name %>
            </th>
            <div class = "col-2 cart-info">
                <%= form_for(cart, url: '/cart/'+ cart.id.to_s ) do |f| %>
                <%= f.hidden_field :id %>
                個数：<%= f.number_field :cart_item_number, style:"width: 40px;" %>
                <%= f.submit '変更', class:"btn-sm btn-primary" %>
                <% end %>
                <div class = "cart-price">
                    <% cart.item.item_price = (cart.item.item_price * 1.1).round(0) %>
                    <%= cart.item.item_price %> 円(税込)
                    <% total_price += cart.item.item_price * cart.cart_item_number %>
                    <%= link_to "削除", cart_path(cart), method: :delete, class:"btn-sm btn-danger"%>
                </div>
            </div>
        </div>
    <% end %>
    <div class = "row-12">
        <div class = "cart-total-price">
            <span>合計：<%= total_price %> 円(税込)</span>
        </div>
    </div>
    <div class = "row-3">
        <div class = "col-md-12 submitbutton">
        <%= link_to "商品購入ページへ", order_path, class:"btn btn-primary btn-lg", style:"float: right;" %>
        </div>
    </div>
</div>