<div class = "container" id="test">
    <div class = "row-1 clearfix">
        <div class = "col-md-4" style = "padding-top: 30px;">
            <h2>カート情報</h2>
            <button class="btn btn-default btn-lg">カートを空にする</button>
        </div>
    </div>
    <% @carts.each do |cart| %>
        <div class = "row-12 clearfix cart-box">
            <th><%= attachment_image_tag cart.item, :item_image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg" %>
            </th>
            <%= cart.item.item_name %>
            <%= cart.cart_item_number %> 枚
            <%= cart.item.item_price %> 円(税込)
            </th>
            <%= link_to "削除", cart_path(cart), method: :delete, class:"btn-sm btn-danger", style:"float: right;" %>
        </div>
    <% end %>
    <div class = "row-3">
        <div class = "col-md-12">
        <%= link_to "商品購入ページへ", order_path, class:"btn btn-success btn-lg", style:"float: right;" %>
        </div>
    </div>
</div>