<div>
  <div class="nested-fields">
    <%= f.text_field :disc_name %><br>
    <%= link_to_remove_association "remove disc", f %>
  </div>

  <div class="songs">
    <%= f.fields_for :songs do |song| %>
    <%= render 'song_fields', f: song %>
    <%end%>
    <div id="links">
    <%= link_to_add_association "add song", f, :songs %>
    </div>
  </div>
</div>