<div class = "container">
    <div class = "row">
        <h2 class = "edit-title" >商品詳細編集</h2>
    </div>
    
<!--    <%= form_for (@item) do |i| %>
        <%= i.text_field :item_name %>
        
    <% end %> --->

    <% @item.discs.each do |d| %>
        <%= form_for(d, url: admins_items_path ) do |df| %>
            <%= df.text_field :disc_name %>
                <%= df.fields_for :songs do |s| %>
                    <%= s.text_field :song %>
                <% end %>
            <%= df.submit %>
        <% end %>
    <% end %>
</div>
