<div class = "container">
    <div class = "row">
        <h2 class = "edit-title" >商品詳細編集</h2>
    </div>
    <%= form_for @item, url: admins_item_path(@item) do |i| %>
        <%= attachment_image_tag @item, :item_image, :fill, 350, 350, fallback: "no_image.jpg", size:'350x350' %>
        <%= i.attachment_field :item_image %>
        <%= i.text_field :item_name %>
        <%= i.number_field :item_price %>
        <%= i.text_field :item_release_date %>
        <%= i.select :item_type, [["シングル","シングル"],["アルバム","アルバム"],["EP","EP"]] %>
        <%= fields_for @item.artist do |ia| %>
            <%= ia.number_field :id %>
            <%= ia.text_field :artist_name  %>
        <% end %>
        <%= fields_for @item.label do |il| %>
            <%= il.number_field :id %>
            <%= il.text_field :label_name  %>
        <% end %>
        <%= fields_for @item.genre do |ig| %>
            <%= ig.number_field :id %>
            <%= ig.text_field :genre_name %>
        <% end %>
        <% @item.discs.each do |id| %>
            <%= i.fields_for id , index: id.id do |idf| %>
                <%= idf.text_field :disc_name %>
                <% id.songs.each do |is| %>
                    <%= idf.fields_for is , index: is.id do |isf| %>
                        <%= isf.text_field :song %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
                <%= i.submit "商品情報更新"%>
    <% end %>

<!--    <% @item.discs.each.with_index(1) do |d, n| %>
            <%= form_for(d, url: admins_item_path ) do |df| %>
                <%= df.text_field :disc_name %>
                    <%= df.fields_for :songs do |s| %>
                        <%= "#{n}" %>
                        <%= s.text_field :song %>
                    <% end %>
                <%= df.submit "変更" %>
            <% end %>
        <% end %> -->
</div>
