<div class="container">
	<div class="row">
    <div class="col-md-4">
      <%= link_to '商品追加画面へ', new_admins_item_path, class: "btn btn-warning btn-lg active" %>

    </div>
    <div class="col-md-8">

    </div>
    <%= @items.each_with_index do |item, i|%>
    <table class="table table-bordered table-hover">
      <tr>
        <th>商品id</th>
        <th>ジャケット名</th>
        <th>アーティスト名</th>
        <th>在庫数</th>
        <th>閲覧数</th>
        <th>週間売り上げ枚数</th>
      </tr>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.artist.artist_name %></td>
        <td><%= @sums[i] %></td>
        <td><%= item.impressions_count %></td>
        <td><%= @Number_of_sales.group%></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>