<div class="white-box address-new-page">
<div class="signin_container container">
<h2>お届け先情報の追加 </h2>

<%= form_for @address, url:addresses_path(@address) do |f| %>

    <div class="name_kanji field">
      <div class="field">
        <%= f.label :"氏名　　　　　　　　　姓" %>
        <%= f.text_field :delivery_name_family_kanji, autofocus: true  %>
        <%= f.label :"　　名" %>
        <%= f.text_field :delivery_name_first_kanji, autofocus: true  %>
      </div>
    </div>

    <div class="name_furigana line">
      <div class="field">
        <%= f.label :"氏名（フリガナ）　　セイ" %>
        <%= f.text_field :delivery_name_family_furigana, autofocus: true  %>
        <%= f.label :"　メイ" %>
        <%= f.text_field :delivery_name_first_furigana, autofocus: true  %>
      </div>
    </div>

    <div class="postal_code line">
      <div class="field">
        <%= f.label :"郵便番号　　　　　　　　" %>
        <%= f.text_field :delivery_postal_code, autofocus: true  %>
        <span>(ハイフン無し)</span>
      </div>
    </div>

    <div class="address_prefecture line">
      <div class="field">
        <%= f.label :"都道府県　　　　　　　　" %>
        <%= f.text_field :delivery_address_prefecture, autofocus: true  %>
      </div>
    </div>

    <div class="address_city line">
      <div class="field">
        <%= f.label :"住所１（市区町村）　　　" %>
        <%= f.text_field :delivery_address_city, autofocus: true  %>
      </div>
    </div>

    <div class="address_number line">
      <div class="field">
        <%= f.label :"住所２（番地）　　　　　" %>
        <%= f.text_field :delivery_address_number, autofocus: true  %>
      </div>
    </div>

    <div class="address_building line">
      <div class="field">
        <%= f.label :"住所３（建物名）　　　　" %>
        <%= f.text_field :delivery_address_building, autofocus: true  %>
      </div>
    </div>

  <div class="actions">
      <%= f.submit "新規追加", class:"btn btn-primary" %></br>
      <%= link_to "戻る", mypage_path, class:"btn" %>
  </div>
<% end %>
</div>
</div>