<h1>商品レビューを投稿する</h1>
<%= attachment_image_tag @item, :item_image, :fill, 350, 350, fallback: "no_image.jpg", size:'350x350' %>
<p>購入日：<%= @order_item.created_at.strftime('%y/%m/%d') %></p>
<p>商品名：<%= @item.item_name %></p>
<p>満足度：<%= @satisfaction_average %></p>
<div id="star-rate"></div>
          <script>
          $('#star-rate').raty({
            size: 36,
            starOff:  '<%= ('star-off.png') %>',
            starOn : '<%= ('star-on.png') %>',
            starHalf: '<%= ('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @satisfaction_average %>,
          });
          </script>
<p><%= @satisfaction_count %>件</p>


<%= form_for(@review, url: item_reviews_path(@item.id)) do |f| %>
 		<p id="star">満足度: <%= f.hidden_field :satisfaction, id: :review_star %></p>
    	<p>タイトル</p><%= f.text_field :review_title %>
		<p>本文</p><%= f.text_area :review_content %>
    	<%= f.submit '投稿する' %>
 <% end %>


<!-- 評価javascript -->
<script>
  $('#star').raty({
    size     : 36,
    starOff: '<%= ('star-off.png') %>',
    starOn : '<%= ('star-on.png') %>',
    starHalf: '<%= ('star-half.png') %>',
    scoreName: 'review[satisfaction]',
    half: true,
  });
</script>

